{{/* Display a list of memberCards, optionally filtered */}}

{{ $memberData := $.Site.Data.association.members        }}
{{ $nameFilter := .Scratch.Get "memberListFilter_byName" }}
{{ $roleFilter := .Scratch.Get "memberListFilter_byRole" }}

{{ $memberCardCtx := dict "filter" ( .Scratch.Get "memberCardFilter_byAttr" ) }}

<ul>
	{{ if $nameFilter }}

		{{ range where $memberData "name" "in" $nameFilter }}
			{{ $memberCardCtx = merge $memberCardCtx ( dict "member" . ) }}
			<li> {{ partial "memberCard.html" $memberCardCtx }} </li>
		{{ end }}

	{{ else if $roleFilter }}

		{{ range where $memberData "roles" "intersect" $roleFilter }}
			{{ $memberCardCtx = merge $memberCardCtx ( dict "member" . ) }}
			<li> {{ partial "memberCard.html" $memberCardCtx }} </li>
		{{ end }}
	
	{{ else }}
	
		{{ range $memberData }}
			{{ $memberCardCtx = merge $memberCardCtx ( dict "member" . ) }}
			<li> {{ partial "memberCard.html" $memberCardCtx }} </li>
		{{ end }}
	
	{{ end }}
</ul>